
<cm-container>
  <cm-row>
    <cm-col xs="4" md="2">
    <mat-card>Add new vehicle...</mat-card>
    </cm-col>
    <cm-col xs="4" md="4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Scott's Car</mat-card-title>
          <mat-card-subtitle>Honda</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button><mat-icon>build</mat-icon></button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </cm-col>
  </cm-row>
</cm-container>