@import '../variables';

:host {
  display: block;
  background: #fff;
  box-shadow: $card-shadow;
  padding: 20px;
  height: 100%;
}

.vehicle-name {
  font-size: 20px;
  display: block;
}

.vehicle-details {
  margin-top: 10px;
  font-size: 12px;
  font-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  display: block;
}

.vehicle-mileage {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
}
